@use "../abstracts" as *;

nav {
  @include flex(column);
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 1rem;

  .logo {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  & > div {
    width: 100%;
  }

  ul {
    font-size: 1.125rem;
  }

  ul.upcoming-tasks {
    li:not(:last-of-type) {
      padding-bottom: 0.5rem;
    }
  }

  p:not(.logo) {
    font-size: 1.25rem;
    font-weight: bold;
  }

  footer {
    min-width: 100%;
    text-align: center;
  }
}
