@font-face {
  font-family: "Lora";
  src: url("/public/fonts/Lora-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Atkins Hyper";
  src: url("/public/fonts/AtkinsonHyperlegible-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
